<div>
    <!-- #docregion toolbar-simple -->
    <mat-toolbar [class.mat-elevation-z2]=true color="primary">
        <a class="brandText" mat-flat-button routerLink='/' color="primary">The Dating App</a>
        <div >
            <ng-container *ngIf="accountService.currentUser$|async">
                <button class="active" routerLink='/members' mat-flat-button color="primary"
                    routerLinkActive="mat-accent">Matches</button>
                <button routerLink='/lists' mat-flat-button color="primary" routerLinkActive="mat-accent">Lists</button>
                <button routerLink='/messages' mat-flat-button color="primary" routerLinkActive="mat-accent">Messages</button>
            </ng-container>
        </div>
        <span class="site-spacer"></span>
        <div *ngIf="(accountService.currentUser$ | async) as user">
            <button mat-button [matMenuTriggerFor]=" menu">Welcome {{user.userName | titlecase}}<mat-icon>arrow_drop_down</mat-icon></button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>Edit profile</button>
                <mat-divider></mat-divider>
                <button (click)="logout()" mat-menu-item>Logout</button>
            </mat-menu>
        </div>
        <form *ngIf="(accountService.currentUser$|async) === null" #loginForm="ngForm" (ngSubmit)="login()"
            autocomplete="off">
            <table cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="login-form-field">
                            <mat-label>Username</mat-label>
                            <input matInput name="userName" [(ngModel)]="model.userName">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="login-form-field">
                            <mat-label>Password</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" matInput name="password" [(ngModel)]="model.password">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                    </td>

                    <td>
                        <button type="submit" mat-stroked-button color="link">Login</button>
                    </td>
                </tr>
            </table>
        </form>
    </mat-toolbar>
    <!-- #enddocregion toolbar-simple -->
</div>